.sidebar {

  background:
  linear-gradient(
    180deg,
    #111827,
    #1e293b
  );

  color: white;

  min-height: 100vh;

  border-right: 1px solid #334155;

}
.logo{

    font-size:28px;
    font-weight:bold;

    padding:30px;
}

.menu{

    padding:18px 30px;

    color: #cbd5e1;

    text-decoration:none;

    display:flex;

    gap:12px;

    align-items:center;
}

.menu:hover{

    background:
    rgba(
        255,
        255,
        255,
        0.1
    );

}

.active {

  background: #8b5cf6;

  color: white;

  border-radius: 10px;

}

.logout{

    margin-top:auto;

    padding:30px;

    cursor:pointer;
}